<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>
    <main>
      <h1>Login</h1>
      <form action="/auth/login" method="post">
        <input
          class="input"
          type="text"
          name="username"
          placeholder="type username"
        />
        <input
          class="input"
          type="password"
          name="password"
          placeholder="type password"
        />
        <input class="button" type="submit" value="login" />
      </form>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>
